.preview{height: 300px; width: 300px; aspect-ratio: 1/1; object-fit: cover;}
.input{border-bottom: 0px !important;}
.inputHidden{display: none;}
.fakeFileInputContainer{display: flex; align-items: center; gap:4px;margin-top: 13px;}
.fakeButton{color: #1f2328;
  padding:4px;
  padding-top: 2px;
  padding-bottom: 2px;
align-self: flex-start;}
.imageLabel{margin-bottom: 25px;}