.page {
  min-height: 100vh;
  color: #1f2328;
  background: #ffffff;
  font-family: var(--font-geist-sans), sans-serif;
}

.content { max-width: 1300px; margin: 0 auto; padding: 65px 36px 90px; }
.content > * { max-width: 500px; }
.title { margin: 0; font-family: Georgia, serif;  }
.intro { margin: 20px 0 43px;  font-family: Georgia, serif;   }

@media (max-width: 1000px) {
  .content { padding: 42px 25px 55px; }
  .title {  }
  .intro { margin-bottom: 35px; }
}